.photoCustomer img{
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 7px;
    border-radius: 4px;
}
.postImage img{
    width: 100px;
    margin-left: 50px;
    margin-right: -50px;
    padding-top: 7px;
    border-radius: 4px;
}
.post-detail-Image img{
    width: 318px;
    padding-top: 20px;
    border-radius: 4px;
}
/* .text-post-detail {
    font-family: "Lucida Handwriting";
    color: black;
} */
.header-table{
    font-weight: bold;
    colro: black
}
.circle-avatar img{
    width: 50; 
    height: 50;
    borderRadius: 400/ 2
}
